<%- include('partials/head')%>

    <%- include('partials/navbar')%>

        <div class="container">

            <img src="https://historiadofutebol.com/blog/wp-content/uploads/2012/05/Piracaia-FC-Piracaia-novo-300x285.jpg"
                alt="Logo do Piracaia FC" center>
            <p>O Piracaia Futebol Clube é uma agremiação do município de Piracaia (SP). Fundado no dia 13 de Junho de
                1913, num terreno doado pelo Sr. Agripino Herdade (que da o nome ao estádio, com capacidade para 5 mil
                pessoas). </p>

        </div>
        <%- include('partials/footer')%>