<% layout('/layouts/boilerplate') %>

    <main class="container py-5">
        <div class="row">
            <div class="col-6 offset-4 mb-2">
                <img src="
                    https://historiadofutebol.com/blog/wp-content/uploads/2012/05/Piracaia-FC-Piracaia-novo-300x285.jpg"
                    alt="Logo do Piracaia FC" class=" img-fluid">
            </div>
        </div>
        <h2>Piracaia Futebol Clube</h1>
            <p>Clube de futebol amador, carrega toda sua honra desde sua fundação, em 13 de junho de 1913. Nas cores
                vermelho e branco se apresenta para orgulho dos piracaienses, “O Fantasma da
                Bragantina” como também é conhecido, o apelido adquirido após tantos duelos frente aos adversários
                da
                região. </p>
            <p>
                A esquadra amadora do Piracaia FC realiza suas pelejas e carrega as cores e a
                bandeira do clube por onde passa.
            </p>
            <p>
                As tradições do esporte amador no município se mantém com a promoção de disputas amistosas entre os
                cidadãos piracaienses nos Torneios de Master´s, onde somente atletas com mais de 35 anos de idade
                competem. Além de promover o ensino da prática esportiva para o infanto e juvenil.
            </p>
            <p>
                Também está na alma do Clube promover ações sociais e educativas, e se manter de braços abertos à
                comunidade.
            </p>

    </main>